/* Stylesheet 
    Created by guiochet Titouan */

/* Table des matières :
    0-Various
    1-Header/Nav
    2-Welcome
    3-Product
    4-Event
    5-Contact
    6-Footer 
    7-Media Queries*/

/* 0-Various */

body{
	background-color: #e6e6e6;
	display: flex;
	flex-direction: column;
	background: #ccc;
	min-height: 100vh;
}

.title_section{
	text-align: center;
	font-size: 3.5rem;
	margin-top: 1.5rem;
	margin-bottom: 3.5rem;
}

.title_cart{
	margin-bottom: 2rem;
}

/* 1-Header/Navigation */

#navigation{
    background-color: #333;
}

/* 2-Carts */

.title_alert, .title_cart, .link_alert, .text_cart{
	text-align: center;
}

.alert_cart, .list_cart_item{
	margin: auto;
}

.item_cart{
	margin-bottom: 2rem;
}

.item_cart:last-child{
	margin-bottom: 5rem;
}

/* 2-Welcome */

.welcome_index{
    text-align: center;
}

.image_index{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    max-width: 10rem;
    object-fit: contain;
}

/* 3-Product */

#product{
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.item_product{
	margin: auto;
	max-width: 50%;
}

.frame_product{
	margin-bottom: 2rem;
}

.image_product{
	border: none;
}

/* 4-Event */

.event_event{
    margin-bottom: 1.5rem;
    background: #ccc;
}

.card_event{
    background-color: #d1cfcf;
}

.image_event{
    margin-top: 1rem;
    height: 200px;
    object-fit: contain;
}

/* 5-Contact */

// Mdr y a rien 

/* 6-Footer */

#footer{
	// display: inline-block;
	// width: 100%;
	background-color: #333;
	margin-top: auto;
	padding: 1.1rem;
}

#credits, #term{
	text-align: center;
	color: #999;
}

#term h5{
	font-size: 1.1rem;
}

#term a{
	text-decoration: underline;
	color: #999;
}

/*Popup for connexion */
/*.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 250px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	background: white;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}*/

/*.modal-body{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 250px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	background: white;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

}*/
/*
.show {
	visibility: visible;
}

.close {
	background: no-repeat;
	height: 49px;
	width: 49px;
	position: absolute;
	right: -35px;
	top: -35px;
	z-index: 9999;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}*/

.tab-pane{
	margin-left:20%;
	margin-right:50%;
	width :150%;
}


/* 7-Media Queries */

/* It's better to copy the media queries in each section for more clarification
    Media queries handle all the device larger than a mobile*/

/* Larger than mobile */
@media (min-width: 400px) {
    
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}